<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-5level] %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="AnylogicNetworkBuilder/debug.log" append="false">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  
  <Loggers>
    <!-- Suppress Jetty noise completely -->
    <Logger name="org.eclipse.jetty" level="OFF" additivity="false"/>
    <Logger name="org.eclipse.jetty.server" level="OFF" additivity="false"/>
    <Logger name="org.eclipse.jetty.http" level="OFF" additivity="false"/>
    <Logger name="org.eclipse.jetty.io" level="OFF" additivity="false"/>
    <Logger name="org.eclipse.jetty.util" level="OFF" additivity="false"/>
    <Logger name="sparkjava" level="OFF" additivity="false"/>
    <Logger name="spark" level="OFF" additivity="false"/>
    
    <!-- AnyLogic internal -->
    <Logger name="com.anylogic" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    
    <!-- Our application loggers -->
    <Logger name="DataDriver" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="a_Network" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="Main" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    
    <Root level="WARN">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
