<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1438955599952</Id>
		<Name><![CDATA[loaded]]></Name>
		<X>-575</X>
		<Y>175</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>false</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="userControls">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">SECOND</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_SECOND</Unit>
			</Rate>
			<Id>1430113399866</Id>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1438848000000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[0]]></Code>
				<Unit Class="TimeUnits">SECOND</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">SECOND</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
